*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 1.4;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #32507b;
}

.wrapper{
    background-color: #13253f;
    padding: 40px 30px;
    border-radius: 10px;
}

.showcase{
    display: flex;
}

.showcase div{
    padding: 40px;
}

.language{
    display: grid;
}